{% extends "layout.html" %}

{% block head %}
<title>Sobre Eder Daniel Domingues</title>
{% endblock %}


{% block content %}

<div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/60990935?s=460&u=6eac8c5d69de73a638cad6d0dab0889cb32f4283&v=4" alt="Eder Daniel">
    <h1>Eder Daniel Domingues</h1>
    <h2>Aluno Launchbase, Rocketseat</h2>
    <p>Estudante de programação front-end <a href="https://github.com/ederdaniel22" target="_blank"> Portifólio</a> </p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/ederdaniel22" target="_blank">Github</a>
    <a href="https://facebook.com/ederdanieldomingues" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/in/ederdanieldomingues" target="_blank">Linkedin</a>
</div>

{% endblock %}